<div class="center-container profile-container">
  <div class="card">
    <div>
      <div class="image-div">
        <img
          class="placeholder-image"
          src="https://img1.wsimg.com/isteam/ip/0b14ba68-b224-4294-8dd8-e360f8bf3cfd/101138578_167212421502972_1443206056242053120_.jpg/:/cr=t:0%25,l:0%25,w:100%25,h:100%25/rs=w:1280"
          alt="quokka"
        />
        <!-- <img
          src="{{ origin }}/api/users/profile-image/{{ user.profileImage }}"
          class="header-image"
        /> -->
      </div>
    </div>
    <div class="profile-div">
      <ul *ngFor="let users of users">
        <li class="text">Name: {{ users[1].first_name }}</li>
        <li class="text">Location: {{ users[1].state }}</li>
      </ul>
    </div>
    <button onClick="onLike()" class="right-button button">Like</button>
    <button class="left-button button">Nope</button>
  </div>
</div>
