<div class="center-container signup">
    <div class="signup-header-div">
        <h1 class="signup-header no-margin">&lt;h1&gt;<p class="signup-header-color">Update</p>&lt;/h1&gt;</h1>
    </div>
    <div class="signup-div">
      <form

      >
        <div class="form-input">
            <label for="firstname" class="form-label">&lt;input id=<p class="form-label-color">"username"</p>/&gt;</label>
            <br>
          <input
            type="text"
          />
        </div>
        <div class="form-input">
            <label for="password" class="form-label">&lt;input id=<p class="form-label-color">"password"</p>/&gt;</label>
            <br>
          <input
            type="password"
          />
        </div>
        <div class="form-input">
            <label for="passwordAuth" class="form-label">&lt;input id=<p class="form-label-color">"retype_password"</p>/&gt;</label>
            <br>
          <input
            type="password"
          />
        </div>
        <div class="form-input">
            <label for="first_name" class="form-label">&lt;input id=<p class="form-label-color">"first_name"</p>/&gt;</label>
            <br>
          <input
            type="text"
          />
        </div>
        <div class="form-input">
            <label for="birthdate" class="form-label">&lt;input id=<p class="form-label-color">"birthdate"</p>/&gt;</label>
            <br>
          <input
            type="date"
          />
        </div>
        <div class="form-input">
            <label for="city" class="form-label">&lt;input id=<p class="form-label-color">"city"</p>/&gt;</label>
            <br>
          <input
            type="text"
          />
        </div>
        <div class="form-input">
            <label for="state" class="form-label">&lt;input id=<p class="form-label-color">"state"</p>/&gt;</label>
            <br>
          <input
            type="text"
          />
        </div>
        <div class="form-input">
            <label for="country" class="form-label">&lt;input id=<p class="form-label-color">"country"</p>/&gt;</label>
            <br>
          <input
            type="text"
          />
        </div>
        <div class="form-group small-margin">
          <button type="submit" class="button submit-button small-margin">Update Profile</button>
        </div>
      </form>
    </div>
  </div>