<div className="about-us-pages">
    <div className="about-us-container">
        <div className="about-us-content">
            <h1>About Us</h1>
            <div className="about-us-text">
                simple explaination about the webpage.
            </div>
            <br />
            <div className="developer-header">
                <p className="rainbow-text">Website Developer</p>
            </div>
            <br />
            <br />
            <div className="box-container">
                <div className="about-us-box">

                </div>
                <div className="about-us-box">

                </div>
                <div className="about-us-box">

                </div>
                <div className="about-us-box">

                </div>
            </div>
        </div>
    </div>
</div>