<div class="center-container login">
    <div class="login-header-div">
        <h1 class="login-header no-margin">&lt;h1&gt;<p class="login-different-color">Login</p>&lt;/h1&gt;</h1>
    </div>
    <form>
        <div class="login-div input-div small-margin">
            <label for="usernameInput" class="form-label">&lt;input id=<p class="form-label-color">"username"</p>/&gt;</label>
            <br>
            <input type="text" class="form-input" id="usernameInput">
            <br>
        </div>
        <div class="login-div input-div small-margin">
            <label for="passwordInput" class="form-label">&lt;input id=<p class="form-label-color">"password"</p>/&gt;</label>
            <input type="password" class="form-input" id="passwordInput">
        </div>
        <button type="submit" class="button submit-button small-margin">Login</button>
    </form>
    <br>
    <div class="card-body">
        Error message: {{errorMessage}}
    </div>
    <div class="link-div">
    <a class="link" routerLink="/signup">New User? Click to signup!</a>
    </div>
</div>
