<div class="center-container signup">
    <div class="signup-header-div">
        <h1 class="signup-header no-margin">&lt;h1&gt;<p class="signup-header-color">Signup</p>&lt;/h1&gt;</h1>
    </div>
    <div class="signup-div">
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
        <div class="form-input">
            <label for="firstname" class="form-label">&lt;input id=<p class="form-label-color">"username"</p>/&gt;</label>
            <br>
          <input
            type="text"
            class="form-input"
            name="username"
            [(ngModel)]="form.username"
            required
            #username="ngModel"
          />
        </div>
        <div class="form-input">
            <label for="password" class="form-label">&lt;input id=<p class="form-label-color">"password"</p>/&gt;</label>
            <br>
          <input
            type="password"
            class="form-input"
            name="password"
            [(ngModel)]="form.password"
            required
            #password="ngModel"
          />
        </div>
        <div class="form-input">
            <label for="passwordAuth" class="form-label">&lt;input id=<p class="form-label-color">"retype_password"</p>/&gt;</label>
            <br>
          <input
            type="password"
            class="form-input"
            name="passwordAuth"
            [(ngModel)]="form.passwordAuth"
            required
            #passwordAuth="ngModel"
          />
        </div>
        <div class="form-input">
            <label for="first_name" class="form-label">&lt;input id=<p class="form-label-color">"first_name"</p>/&gt;</label>
            <br>
          <input
            type="text"
            class="form-inout"
            name="first_name"
            [(ngModel)]="form.first_name"
            required
            #first_name="ngModel"
          />
        </div>
        <div class="form-input">
            <label for="birthdate" class="form-label">&lt;input id=<p class="form-label-color">"birthdate"</p>/&gt;</label>
            <br>
          <input
            type="date"
            class="form-input"
            name="date_of_birth"
            [(ngModel)]="form.date_of_birth"
            required
            #date_of_birth="ngModel"
          />
        </div>
        <div class="form-input">
            <label for="city" class="form-label">&lt;input id=<p class="form-label-color">"city"</p>/&gt;</label>
            <br>
          <input
            type="text"
            class="form-input"
            name="city"
            [(ngModel)]="form.city"
            required
            #city="ngModel"
          />
        </div>
        <div class="form-input">
            <label for="state" class="form-label">&lt;input id=<p class="form-label-color">"state"</p>/&gt;</label>
            <br>
          <input
            type="text"
            class="form-input"
            name="state"
            [(ngModel)]="form.state"
            required
            #state="ngModel"
          />
        </div>
        <div class="form-input">
            <label for="country" class="form-label">&lt;input id=<p class="form-label-color">"country"</p>/&gt;</label>
            <br>
          <input
            type="text"
            class="form-input"
            name="country"
            [(ngModel)]="form.country"
            required
            #country="ngModel"
          />
        </div>
        <div class="form-input">
          <label for="question1" class="form-label">&lt;input id=<p class="form-label-color">"question_1"</p>/&gt;</label>
          <p>What is your favorite coding language?</p>
          <br>
        <select
          class="form-input"
          name="language"
          [(ngModel)]="form.question_1_id"
          required
          #question_1_id="ngModel">
          <option for="language" value="1">Java</option>
          <option for="language" value="2">TypeScript</option>
          <option for="language" value="3">Python</option>
          <option for="language" value="4">HTML/CSS</option>
          <option for="language" value="5">Scala</option>
          </select>
      </div>
      <div class="form-input">
        <label for="question2" class="form-label">&lt;input id=<p class="form-label-color">"question_2"</p>/&gt;</label>
        <p>What do you prefer to do?</p>
        <br>
      <select
        class="form-input"
        name="preference"
        [(ngModel)]="form.question_2_id"
        required
        #question_2_id="ngModel">
        <option for="preference" value="1">Frontend</option>
        <option for="preference" value="2">Backend</option>
        <option for="preference" value="3">Fullstack</option>
        <option for="preference" value="4">Cyber Security</option>
        <option for="preference" value="5">Blockchain/Web3</option>
        </select>
    </div>
    <div class="form-input">
      <label for="question3" class="form-label">&lt;input id=<p class="form-label-color">"question_3"</p>/&gt;</label>
      <p>How do you pronounce SQL?</p>
      <br>
    <select
      class="form-input"
      name="sql"
      [(ngModel)]="form.question_3_id"
      required
      #question_3_id="ngModel">
      <option for="sql" value="1">ESS-QUE-ELL</option>
      <option for="sql" value="2">Sequel</option>
      <option for="sql" value="3">Squeal</option>
      <option for="sql" value="4">Squirrel</option>
      <option for="sql" value="5">Squell</option>
      </select>
  </div>
        <div class="form-group small-margin">
          <button type="submit" class="button submit-button small-margin">Sign Up</button>
        </div>
      </form>
      <div class="link-div">
        <a class="link" routerLink="/login">Already have an account? Click to login!</a>
    </div>
    </div>
  </div>