<div class="center-container setup">
    <div class="setup-header-div">
        <h1 class="setup-header no-margin">&lt;h1&gt;<p class="setup-header-color">Profile Setup</p>&lt;/h1&gt;</h1>
    </div>
    <div class="setup-div">
      <form
        *ngIf="!isSuccessful"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
      >
      <div class="form-input">
            <label for="question2" class="form-label">&lt;input id=<p class="form-label-color">"question_2"</p>/&gt;</label>
            <p>What do you prefer to do?</p>
            <br>
          <select
            class="form-input"
            name="preference"
            [(ngModel)]="form.question_2_id"
            required
            #question_2_id="ngModel">
            <option for="preference" value="1">Frontend</option>
            <option for="preference" value="2">Backend</option>
            <option for="preference" value="3">Fullstack</option>
            <option for="preference" value="4">Cyber Security</option>
            <option for="preference" value="5">Blockchain/Web3</option>
            </select>
        </div>
        <div class="form-group small-margin">
          <button type="submit" class="button submit-button small-margin">Submit</button>
        </div>
      </form>
    </div>
  </div>